@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Roboto+Mono&family=Roboto+Slab:wght@300&family=Roboto:wght@300&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.side-image-and-form-class {
    display: flex;
    min-height: 750px;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.side-image-and-form-class .side-image-class {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.side-image-and-form-class .form-class {
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
    flex: 2;
}   

.side-image-and-form-class .form-class .top-text-class,
.side-image-and-form-class .form-class .bottom-button-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    gap: 25px;
    flex: 2;
}   

.side-image-and-form-class .form-class .top-text-class p,
.side-image-and-form-class .form-class .middle-form-class,
.side-image-and-form-class .form-class .bottom-button-class {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
}   

.side-image-and-form-class .form-class .top-text-class .top-text-class-p2 {
    align-self: flex-start;
    font-weight: bold;
}   

.side-image-and-form-class .form-class .middle-form-class {
    display: flex;
    flex: 3;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    justify-content: left;
    align-items: center;
}   

.side-image-and-form-class .form-class .middle-form-class .midformclass-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    height: 250px;
    width: 600px;
}   

.side-image-and-form-class .form-class .middle-form-class .midformclass-div .names-class,
.side-image-and-form-class .form-class .middle-form-class .midformclass-div .email-and-phone-class,
.side-image-and-form-class .form-class .middle-form-class .midformclass-div .passowrd-class {
    display: flex;
    gap: 100px;
}   

.side-image-and-form-class .form-class .middle-form-class .midformclass-div div div label {
    font-size: 10px;
}  

.side-image-and-form-class .form-class .middle-form-class .midformclass-div div div input {
    border: 1px solid lightgrey;
    padding-left: 10px;
    border-radius: 5px;
    height: 25px;
    width: 200px;
}

.side-image-and-form-class .form-class .bottom-button-class {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}   

.side-image-and-form-class .form-class .bottom-button-class button {
    height: 35px;
    width: 175px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.side-image-and-form-class .form-class .bottom-button-class p span a {
    text-decoration: underline;
    color: black;
}

